
<%- include ("./partials/header") %>


<html>
<head>
 
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel='stylesheet' href='profile.css'>
    
    </head>

    
               <body>
              

                    <div class="ScriptTop">
                        <div class="rt-container">
                            <div class="col-rt-4" id="float-right">
                     
                                <!-- Ad Here -->
                                
                            </div>
                            
                        </div>
                    </div>
                    
                    <header class="ScriptHeader">
                        <div class="rt-container">
                            <div class="col-rt-12">
                                <div class="rt-heading">
                                   
              
                                </div>
                            </div>
                        </div>
                    </header>
                    
                    <section>
                        <div class="rt-container">
                              <div class="col-rt-12">
                                  <div class="Scriptcontent">
                                  
                    <!-- Student Profile -->
                    <div class="student-profile py-4">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent text-center">
                                <h1><%= company.username %></h1>
                               
                              </div>
                              <div class="card-body">
                               
<%
                                if(currentUser.username==company.username)
                                {
                                %>
<form action="/changepass" method="POST">
  
 companyname:   <input type="text" value="<%=company.username%>" name="username" readonly><br>
 new password:
    <input type="password" name="newpassword"  ><br>


    <input type="submit" value="changepassword"> 
</form>
<%
                                }
                                %>
<h1>Events</h1>
<%
                                if(currentUser.username==company.username)
                                {
                                %>
<form action="/event/<%= company.username %>" >
  <button  > ADD EVENT</button>
   
  
</form>
<%
}
%>

<% links.forEach(function(links1) { 
 
  %>
  
<a href= "/eventdisplay/<%=links1._id%>/<%=company.username%>"><%=links1.type%> <%=links1.topic%></a><br>
<%

}); %>
 

                              </div>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="card shadow-sm">
                              <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                              </div>
                             
                             
                              
                              <div class="card-body pt-0">
                                <table class="table table-bordered">
                                 
                                    <th width="30%">companyname	</th>
                                    <td width="2%">:</td>
                                    <td><%=company.username%><br></td>
                                  </tr>
                                  <tr>
                                    <th width="30%">email</th>
                                    <td width="2%">:</td>
                                    <td><%=company.email%><br>
</tr>
                                  <tr>
                                    <th width="30%">contact no</th>
                                    <td width="2%">:</td>
                                    <td><%=company.mobile%><br></td>
                                  </tr>
                                  <tr>
                                    <th width="30%">Type</th>
                                    <td width="2%">:</td>
                                    <td> <%=company.type%><br></td>
                                  </tr>
                                  <tr>
                                    <th width="30%">Company website</th>
                                    <td width="2%">:</td>
                                    <td><a href="<%=company.link%>"><%=company.link%></a><br></td>
                                  </tr>
                                  <tr>
                                    <th width="30%">headquater</th>
                                    <td width="2%">:</td>
                                    <td><%=company.headquaters%><br></td>
                                  </tr>
                                  <tr>
                                    <th width="30%">Category</th>
                                    <td width="2%">:</td>
                                    <td> <%=company.category%><br></td></td>
                                  </tr>
                                
                                </table>
                              </div>
                              <%
                              if(currentUser.username==company.username)
                              {
                              %>
                              <button> <a href="/update/<%=currentUser.username%>">Update profile</a></button>
                           <%}
                           %>
                             
                            </div>
                             
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- partial -->
                               
                                </div>
                            </div>
                        </div>
                    </section>
                         
                    
                    
                        <!-- Analytics -->
                    
                        </body>
                    </html>
                    <%- include ("./partials/footer") %>