
<%- include ("./partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
   <!--<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   
    <meta name="author" content="Codeconvey" />
    --> 
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <!--Only for demo purpose - no need to add.-->
  <!--  <link rel="stylesheet" href="css/demo.css" />
    
	    <link rel="stylesheet" href="css/style.css">-->
</head>
<body>

<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            
            
        </div>
        <div class="col-rt-2">
            <ul>
                
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<center><h1>Student Profile</h1></center>
               
            </div>
        </div>
    </div>
</header>
	
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
         <h1>   <%=student.username%></h1>
          </div>
          <div class="card-body">
            <form action="/changepass" method="POST">
  
              Register number:   <input type="text" value="<%= student.username%>" name="username" readonly><br>
              new password:
                 <input type="password" name="newpassword" ><br>
             
             
                 <input type="submit" value="changepassword"> 
             </form>
            
           <h1>Applied Events:</h1> <br>


                <% links.forEach(function(links1) { 
                 
                  %>
                  
               
                <a href= "/eventdisplaystudent/<%=links1.eventid%>/<%= student.username %>"><%=links1.type%>-<%=links1.companyname%> </a><br>
                <%
                }); %>
          

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
        
          <div class="card-body pt-0">
            	
            <table class="table table-bordered">

                <th width="30%">Register Number</th>
                <td width="2%">:</td>
                <td><%=student.username%></td>
              </tr>
              <tr>
                <th width="30%">Student Name	</th>
                <td width="2%">:</td>
                
                <td><%=student.name%></td>
              </tr>
              <tr>
                <th width="30%">Email</th>
                <td width="2%">:</td>
               
                <td><%=student.email%></td>
              </tr>
              <tr>
                <th width="30%">Phone</th>
                <td width="2%">:</td>
              
                <td><%=student.mobile%></td>
              </tr>
              <tr>
                <th width="30%">Address</th>
                <td width="2%">:</td>
               
                <td><%=student.address%></td>
              </tr>
<tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
               
                <td><%=student.gender%></td>
              </tr>
<tr>
                <th width="30%">10th Mark(in %)</th>
                <td width="2%">:</td>
              
                <td><%=student.tenth%></td>
              </tr>
<tr>
                <th width="30%">12th mark(in %)</th>
                <td width="2%">:</td>
               
                <td><%=student.twelth%></td>
              </tr>
<tr>
                <th width="30%">Department</th>
                <td width="2%">:</td>
               
                <td><%=student.department%></td>
              </tr>
<tr>
                <th width="30%">CGPA</th>
                <td width="2%">:</td>
               
                <td><%=student.cgpa%></td>
              </tr>
<tr>
                <th width="30%">Year of Pass</th>
                <td width="2%">:</td>
               
                <td><%=student.yearofpass%> </td>
              </tr>
<tr>
                <th width="30%">Current year</th>
                <td width="2%">:</td>
               
                <td><%=student.currentyear%></td>
              </tr>
            </tr>
            <tr>
                            <th width="30%">Course</th>
                            <td width="2%">:</td>
                           
                            <td><%=student.course%></td>
                          </tr>
                        </tr>
                        <tr>
                                        <th width="30%">History of arrears</th>
                                        <td width="2%">:</td>
                                       
                                        <td><%=student.history%></td>
                                      </tr>
                                    </tr>
                                    <tr>
                                                    <th width="30%">Number of baclogs</th>
                                                    <td width="2%">:</td>
                                                   
                                                    <td><%=student.backlog%></td>
                                                  </tr>
<tr>
                <th width="30%">Skills</th>
                <td width="2%">:</td>
               
                <td><%=student.skills%></td>
              </tr>
              <tr>
                <th width="30%">resume link</th>
                <td width="2%">:</td>
               
                <td><a href="<%=student.resume%>"><%=student.resume%></td>
              </tr>
            </table>
            
            
          </div>
        <!--  <form method="GET"  action="/updatestudent/">
            <input type="submit" value="update"name="update" >
        </form>
        -->
      <button> <a href="/updatestudent/<%=currentUser.username%>">Update profile</a></button>
        </div>
         
      </div>
    </div>
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>





    <!-- Analytics -->

	</body>
</html>
<%- include ("./partials/footer") %>